*.pyc
dist
.eggs
.cache
.tox
.pytest_cache
*.egg-info
notebooks/.ipynb_checkpoints
coverage.txt
.coverage
lucidenv
lucid-env
.idea
.vscode
.mypy_cache

pip-selfcheck.json

.DS_Store

# virtual envs
bin
include
lib
share

tests/fixtures/generated_outputs/
